packages:
    yum:
        python3-devel: []
        MySQL-python: []
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: recipe.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: recipe/wsgi.py
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
