{% extends "navbar_sidebar.html" %}

{% block content %}
<style>
  .product-rating {
    font-size: 35px;
  }

  .stars i {
    font-size: 18px;
    color: #cad100;
  }
</style>
<!-- <div class="container pt-4" style="background-color: #E7E9EB;">
  <nav class="d-flex">
    <h6 class="mb-0">
      <a href="/home">Home</a>
      <span class=" mx-2"> > </span>
      <u>Approvals</u>
    </h6>
  </nav>
</div> -->


<section>

  <div class="container py-5">
    <div class="row p-1">
      <h4>Recipes to Approve :</h4>
      <hr>
    </div>
    {% if messages %}
    {% for message in messages %}
    <center>
      <h5 style="color: green; margin: 1rem;">{{message}}</h5>
    </center>
    {% endfor %}
    {% endif %}

    {% if data.results %}
    {% for item in data.results %}

    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{item.thumbnail}}" class="w-75" style="max-height: 13rem;" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-6 col-xl-6">
                <a href="/adminuser/recipe/description/?id={{item.id}}" target="_blank"><h5 class="mt-4">{{item.name}}</h5></a>
                <h6>User : {{item.user_name}}</h6>
                


                <h6 class="text-truncate mb-4 mb-md-0">
                  Category : {{item.category_name}}
                </h6>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-column mt-4">
                  <a href="/adminuser/approve/recipe/?id={{item.id}}" ><button
                      class="btn btn-success h-75 w-100 m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button">Approve Recipe</button></a>
                  <button class="btn btn-outline-danger w-100 m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" onclick="DeleteRecipe('{{item.id}}',document.getElementById('reject_reason').value)">
                    Reject
                  </button>
                  <textarea name="reject_reason" id="reject_reason" class="w-100 m-1" placeholder="Reasons to reject" style=" max-height: 100px;" rows="2"></textarea>
               
                  <!-- loader -->

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                      <div class="modal-body">
                        <div style="margin:5rem 10rem ;height: 50px;width: 50px;" class="spinner-border text-primary" role="status">
                          <span style="font-size: 40px;" class="sr-only"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- loader end -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% else %}
<h3 style="color: grey; margin:13%">No records found :(</h3>
{% endif %}


<script>
  function DeleteRecipe(id,reason) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, reject it!'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire(
          'Rejected!',
          'Recipe has been rejected.',
          'success'
        ).then(() => {
          window.open(`/adminuser/reject/recipe/?id=${id}&reason=${reason}`, '_self')
        }
        )
      }
    })
  }
</script>

{% endblock %}