{% extends 'users/navbar.html' %}
{% block content %}
<section >
    <div class="container">
    <center>
      <p class=" p-4"> A Bit About Me</p>
      <h1 class="" style="font-size: 50px; font-weight: 600; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; color: var(--brown);"> Who Am I?</h1>
      <div class="p-4">
        <img class="rounded-circle" style="border: 10px solid rgb(255, 122, 73); height: 400px;" src="/static/aboutus/profile.jpeg" alt="image">
      </div>
      <h6 class="text-muted" style="word-spacing: 3px;"> Hi I'm Ritesh Raj Poddar , As a passionate software developer, I have been on a transformative journey in the world of technology. Armed with a curious mind and a penchant for innovation, I have honed to my skills in various programming languages, continuously pushing the boundaries of what's possible. Through this platform, I empower food enthusiasts to explore a diverse range of culinary delights and bring joy to kitchens worldwide. With a focus on user experience and functionality."</h6><br><br>
      <h4>Inspired by:</h4><hr>
    </center>
    <div class="d-flex justify-content-between">
        <div class="">
            <img src="/static/aboutus/image.png" style="height:290px; border-radius:30px; border:10px solid white" alt="">
            <h6 style="text-align: center; padding: 10px;">Paramjeet Singh</h6>
        </div>
        <div class="">
            <img src="/static/aboutus/image1.png" style="height:290px;border-radius:30px; border:10px solid white" alt="">
            <h6 style="text-align: center; padding: 10px;">Ranjeet Singh</h6>
        </div>
        <div class="">
            <img src="/static/aboutus/image2.png" style="height:290px;border-radius:30px; border:10px solid white" alt="">
            <h6 style="text-align: center; padding: 10px;">Nishant Sisodiya</h6>
        </div>
    </div>

     
    </div>
</section>
{% endblock %}