<!-- Jumbotron -->

{% extends 'users/navbar.html' %}

{% block content %}

<!-- Jumbotron -->

<style>
.product-rating{
    font-size: 35px;
}

.stars i{
    font-size: 18px;
    color: #cad100;
}
</style>



<div>
    <div class="container py-2" style="background-color: #E7E9EB;">
        <nav class="d-flex">
            <h6 class="mb-0">
                <a href="/home">Home</a>
                <span class=" mx-2"> > </span>
               <u>Details</u>
            </h6>
        </nav>

 <!-- Breadcrumb -->

    </div>
</div>

</header>

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="  mb-3 d-flex justify-content-centerborder p-3" style="background-color: white;">

                    <center>
                        <img style="max-width: 100%; max-height: 100vh; margin: auto; width: 60%; border-radius: 15px;"
                            class=" fit" src="{{data.thumbnail}}" />
                    </center>
                </div>
            </aside>


            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        {{data.name}}
                    </h4>

                    <div class="bg-warning p-2 rounded" style="background: rgb(209,226,0);
                    background: linear-gradient(90deg, rgba(209,226,0,1) 0%, #ece8e3 99%);">
                        <span class="h6">Category :</span>
                        <span id="category">{{data.category}}</span>
                    </div><br>
                    <p>
                        “Food for us comes from our relatives, whether they have wings or fins or roots. That is how we consider food. Food has a culture. It has a history. It has a story. It has relationships.”                    </p>

                    <hr/>

                    <div class="ratings">

                        <span class="product-rating">4.6</span><span>/5</span>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>

                        <div class="rating-text">
                            <span>46 ratings & reviews</span>
                        </div><br>
                    </div>

                    {% if data.isFavourite %}
                    <a  href="/favourites"  class="btn btn-success p-3"
                        style="margin-right :1rem; border:none"> <b>View in favourite &nbsp</b></a>

                    {% else %}
                    <a  onclick="addtofavourite('{{data.id}}')" class="btn btn-danger p-3"
                        style="margin-right :1rem; border:none"> <b>Add to favourite &nbsp</b><i class="fa-solid fa-heart" style="color: #ffffff;"></i></a>
                    {% endif %}
                    
                    
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->


<!-- description Ingredient -->

<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <!-- Pills navs -->

                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#description" aria-expanded="true" aria-controls="description" style="width: 48%; margin: 0% 1%; background-color: rgb(231, 84, 43); border:none"">Instructions</button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="description ingredients" style="width: 48%; background-color: rgb(231, 84, 43); border:none"">Ingredients</button>
                    <div class="collapse multi-collapse show" id="description">
                        <div class="card card-body">
                            {{data.description}}
                         </div>
                    </div>
                    <div class="collapse multi-collapse show" id="ingredients">
                        <div class="card card-body">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Ingredient</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for k,v in data.ingredients.items %}
                                  <tr>
                                    <th scope="row">{{k}}</th>
                                    <td>{{v}}</td> 
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                         </div>
                    </div>
                    <!-- Pills content -->

<!-- youtube_link -->

                    {% if data.youtube_link %}
                    <div class="card" style="margin: 1rem 0rem;text-align: center ; color: brown;">
                        <div class="card-body">
                            <h5>To watch video tutorial, Click on <a href="{{data.youtube_link}}" target="_blank"><img src="/static/youtube.png" alt="youtube icon" height="50px"></a></h5>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>



            <div class="col-lg-4">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Similar items</h5>


                            {% for items in data.similar_items %}

                            {% if items.name == data.name %}

                            {% else%}
                            <a
                                href="/recipe/description/?id={{items.id}}">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="me-3">
                                        <img src="{{items.thumbnail}}" style="min-width: 96px; height: 96px;"
                                            class="img-md img-thumbnail" />
                                    </div>
                                    <div class="info">
                                        {{items.name}}
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>

function addtofavourite(id){
    Swal.fire({
  icon: 'success',
  title: 'Added to favourite',
  showConfirmButton: false,
  timer: 1500,
  
}).then(res => {
    window.open(`/add/tofavourite/?id=${id}`,'_self');
    
})
}

</script>
{% endblock %}