{% extends "users/navbar.html" %}

{% block content %}

<style>
  @media (min-width: 768px) {
    .carousel-inner {
      display: flex;
      margin-top: 3rem;
    }

    .carousel-item {
      height: 200px;

      margin-right: 0;
      flex: 0 0 25%;
      display: block;
    }
  }

  .carousel-item img {
    height: 200px;
    object-fit: contain;
  }
</style>



<div class="row">

  <!-- corousal -->
  <div class="row p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="
background-color: #421200; height: 20rem; " data-interval="1000">

      <div class="carousel-inner" style="height: 15rem;">

        {% for item in data.category %}
        {% if item.categoryImage != '/static/No_Image.jpg' %}
        <div class="carousel-item  ">
          <a href="/search/bycategory/?categoryid={{item.id}}" class="d-flex flex-column align-items-center">
            <img src="{{item.categoryImage}}" class="d-block w-100" alt="...">
            <strong style="color:var(--yellow) ;">{{item.name}}</strong>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev" style="height:20rem;z-index: 1;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" id="nextbutton" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next" style="height:20rem;z-index: 1;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
  </div>



  <div class="row p-5" style="margin-top:3rem ;">
    <h3>Trending Recipes</h3>
    <hr>



        {% for item in data.recipe.results %}
        <div class="card col-sm-3" style="margin: 2rem 1.8rem; height: fit-content;width: auto;">
          <a href="/recipe/description/?id={{item.id}}">

            <img class="card-img-top" src="{{item.thumbnail}}" style="border-radius: 5px ; object-fit: cover; height:17rem"
              alt="Dish Picture">
            <div class="row recipe-edit" style="padding: 8px; height: 100%; ">
              <center>
                <h6 class="card-text m-1">{{item.name}}</h6>
              </center>
             
            </div>
          </a>
          

        </div>

        {% endfor %}

 <!-- pagination -->

 <nav aria-label="Page navigation example">
  <ul class="pagination">
     <li class="page-item"><a class="page-link" href="?page=1">first</a></li>

     {% if data.recipe.previous %}

    <li class="page-item">
      <a class="page-link" href="{{data.recipe.previous}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{data.recipe.page | add:'-1'}}">{{ data.recipe.page | add:"-1" }}</a></li>
    


    <li class="page-item"><a class="page-link" href="#">{{data.recipe.page}}</a></li>
    {% endif %}

    {% if data.recipe.next %}

    <li class="page-item"><a class="page-link" href="?page={{data.recipe.page | add:'+1'}}">{{ data.recipe.page | add:"+1"}}</a></li>
    <li class="page-item">
      <a class="page-link" href="{{data.recipe.next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{data.recipe.last_page}}">last</a></li>

  </ul>
</nav>


      </div>










    <script>
      var carouselWidth = $(".carousel-inner")[0].scrollWidth;
      var cardWidth = $(".carousel-item").width();
      var scrollPosition = 0;
      $(".carousel-control-next").on("click", function () {
        console.log(cardWidth, carouselWidth);

        if (scrollPosition < (carouselWidth - cardWidth * 4)) { //check if you can go any further
          scrollPosition += cardWidth;  //update scroll position
          $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 600); //scroll left
        }
      });
      $(".carousel-control-prev").on("click", function () {
        if (scrollPosition > 0) {
          scrollPosition -= cardWidth;
          $(".carousel-inner").animate(
            { scrollLeft: scrollPosition },
            600
          );
        }
      });
      var multipleCardCarousel = document.querySelector(
        "#carouselExampleControls"
      );



      setInterval(elementclick, 2500);
      function elementclick() {
        document.getElementById("nextbutton").click();
      }


    </script>


    {% endblock %}