{% extends 'users/navbar.html' %}
{% block content %}

<div class="container d-flex flex-column">
    <div class="row my-5 align-items-center justify-content-center g-0">
      <div class="col-sm-6 border-top border-5 border-warning">
        <div class="card shadow-lg " style="border-radius: 0px 0px 20px 20px;">
          <div class="card-body p-5  ">

            <!-- <h6 style="text-align: center; color: rgb(0, 173, 0); margin-bottom: 18px;" >{{message}}</h6>
            <h6 style="text-align: center; color: rgb(239, 0, 0);margin-bottom: 18px;">{{errors}}</h6> -->
            <h6 style="text-align: center;" id='message'></h6>

            
            <div class="mb-4">
              <h4 style="text-align: center;">Reset Password</h4>
              
            </div>
            <form method="post">
                {% csrf_token %}
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" onkeyup='check_pass()' class="form-control" name="password1" placeholder="Enter new Password"
                  required="">
              </div>
              <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="text" id="confirm_password" onkeyup='check_pass()' class="form-control" name="password2" placeholder="Confirm password"
                  required="">
              </div>


              <div class="mb-3 d-grid">
                <button type="submit" id="submit"class="btn btn-primary my-3" disabled>
                  Reset Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

function check_pass() {
    if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
        document.getElementById('submit').disabled = false;
        document.getElementById('message').innerText="Password and confirm password matched successfully"
        document.getElementById('message').style.color="green";

    } else {
        document.getElementById('submit').disabled = true;
        document.getElementById('message').innerText="Password and confirm password don't match"
        document.getElementById('message').style.color="red";

    }
}
  </script>
  {% endblock %}