{% extends "users/navbar.html" %}
{% block content %}


<style>
    
    .card {
    box-shadow: 0 3px 10px rgb(2 2 2 / 0.2);
    padding: 0px;
  }

  .card:hover {
    /* box-shadow: 0 0 5px 5px rgb(241, 241, 241); */
    transform: translate(0px, -10px);
    transition: transform 0.4s ease;
  }
</style>
{% if data.results %}
<div class="row p-5">

    <div class="row p-1">
        <h4>Search items: </h4>
        <hr>
    </div>
    {% for item in data.results %}
    <div class="card col-sm-3" style="margin: 1.4rem 1.8rem; height: 100%;width: auto;">
        <a href="/recipe/description/?id={{item.id}}">

            <img class="card-img-top" src="{{item.thumbnail}}"
                style="border-radius: 5px ; object-fit: cover; height:17rem" alt="No image">
            <div class="row recipe-edit" style="padding: 8px; height: 100%; ">
                <center>
                    <h6 class="card-text m-1">{{item.name}}</h6>
                
                    <div class="d-flex justify-content-center">
                        <div>
                            <p style="color: rgb(134, 134, 141); font-weight: 500;" class="card-text">Category:
                                {{item.category_name}}</p>
                        </div>
                    </div>
                </center>
            </div>
        </a>
    </div>
    {% endfor %}
    
    <!-- pagination -->
    <div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="?search_data={{data.search_data}}&page=1">first</a></li>
  
          {% if data.previous %}
  
          <li class="page-item">
            <a class="page-link" href="{{data.previous}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="?search_data={{data.search_data}}&page={{data.page | add:'-1'}}">{{ data.page|add:"-1" }}</a></li>
  
  
  
          <li class="page-item"><a class="page-link" href="#">{{data.page}}</a></li>
          {% endif %}
  
          {% if data.next %}
  
          <li class="page-item"><a class="page-link"
              href="?search_data={{data.search_data}}&page={{data.page | add:'+1'}}">{{data.page|add:"+1"}}</a></li>
          <li class="page-item">
            <a class="page-link" href="{{data.next}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="?search_data={{data.search_data}}&page={{data.last_page}}">last</a></li>
  
        </ul>
      </nav>
    </div>
    <!-- pagination end -->


</div>
{% else %}
<h3 style="color: grey; margin:13%">No records found :(</h3>
{% endif %}



{% endblock %}